<th>
  <p><%= Qingflow::Form.human_attribute_name(:title) %></p>
  <p><%= Qingflow::Form.human_attribute_name(:queid) %></p>
</th>
<th><%= Qingflow::Form.human_attribute_name(:que_type) %></th>
<th><%= Qingflow::Form.human_attribute_name(:meta_column_id) %></th>
<th><%= Qingflow::Form.human_attribute_name(:display) %></th>
<th><%= Qingflow::Form.human_attribute_name(:primary) %></th>
<th><%= Qingflow::Form.human_attribute_name(:modeling) %></th>
