<th>
  <p><%= Sync::Form.human_attribute_name(:external_record_name) %></p>
  <p><%= Sync::Form.human_attribute_name(:external_column_name) %></p>
</th>
<th><%= Sync::Form.human_attribute_name(:name) %></th>
<th>
  <p><%= Sync::Form.human_attribute_name(:record_name) %></p>
  <p><%= Sync::Form.human_attribute_name(:column_name) %></p>
</th>
<th><%= Qingflow::Form.human_attribute_name(:display) %></th>
<th><%= Qingflow::Form.human_attribute_name(:primary) %></th>
<th><%= Qingflow::Form.human_attribute_name(:modeling) %></th>
