<div>
  <dt><%= Qingflow::App.human_attribute_name(:name) %></dt>
  <dd><%= @app.name %></dd>
</div>
<div>
  <dt><%= Qingflow::App.human_attribute_name(:appid) %></dt>
  <dd><%= @app.appid %></dd>
</div>
<div>
  <dt><%= Qingflow::App.human_attribute_name(:secret) %></dt>
  <dd><%= @app.secret %></dd>
</div>
