<table class="as-search">
  <tr>
    <th><%= Sync::Audit.human_attribute_name(:synchro_type) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:synchro_type]), class: active_params(synchro_type: '', active_class: 'button is-link', item_class: 'button is-light') %>
      <% @synchro_types.each do |synchro_type| %>
        <%= link_to Sync::Audit.enum_i18n(:synchro_type, synchro_type), filter_params(synchro_type: synchro_type), class: active_params(synchro_type: synchro_type, active_class: 'button is-link', item_class: 'button is-light') %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= Sync::Audit.human_attribute_name(:state) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:state]), class: active_params(state: '', active_class: 'button is-link', item_class: 'button is-light') %>
      <% ['init', 'applied', 'finished'].each do |state| %>
        <%= link_to Sync::Audit.enum_i18n(:state, state), filter_params(state: state), class: active_params(state: state, active_class: 'button is-link', item_class: 'button is-light') %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= Sync::Audit.human_attribute_name(:operation) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:operation]), class: active_params(operation: '', active_class: 'button is-link', item_class: 'button is-light') %>
      <% ['update', 'insert', 'delete'].each do |operation| %>
        <%= link_to Sync::Audit.enum_i18n(:operation, operation), filter_params(operation: operation), class: active_params(operation: operation, active_class: 'button is-link', item_class: 'button is-light') %>
      <% end %>
    </td>
  </tr>
</table>
