<%= search_form_with do |f| %>
  <div class="fields">
    <%= f.submit 'Search' %>
  </div>
<% end %>

<dl>
  <dt>Synchro Type:</dt>
  <dd>
  <%= link_to 'All', filter_params(except: [:synchro_type]), class: active_params(synchro_type: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% @synchro_types.each do |synchro_type| %>
    <%= link_to SyncAudit.enum_i18n(:synchro_type, synchro_type), filter_params(synchro_type: synchro_type), class: active_params(synchro_type: synchro_type, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% end %>
  </dd>
</dl>

<dl>
  <dt>State:</dt>
  <dd>
  <%= link_to 'All', filter_params(except: [:state]), class: active_params(state: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% ['init', 'applied', 'finished'].each do |state| %>
    <%= link_to SyncAudit.enum_i18n(:state, state), filter_params(state: state), class: active_params(state: state, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% end %>
  </dd>
</dl>

<dl>
  <dt>Action:</dt>
  <dd>
    <%= link_to 'All', filter_params(except: [:operation]), class: active_params(operation: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% ['update', 'insert', 'delete'].each do |operation| %>
      <%= link_to SyncAudit.enum_i18n(:operation, operation), filter_params(operation: operation), class: active_params(operation: operation, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
